<section class="grid-container grid-clearfix">
  <h1>FAQ</h1>
  <h2>Why does this exist?</h2>
  <p>I couldn't find a drawing web app that respects a pressure sensitive stylus. So I decided to create my own.</p>

  <h2>Why are there so many features missing?</h2>
  <p>I try to keep it simple.</p>

  <h2>I have an idea for a feature!</h2>
  <p>Great! Let me know, you can email me at mettamage at protonmail dot com.</p>

  <h2>I have another question!</h2>
  <p>Contact me somehow! I leave it up to you to figure it out ;-)</p>
</section>