<div class="outer-centered static">
  <div class="inner-centered" id="login">
    <form>
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" />
      </div>
      <div class="form-group">
        <label for="user_remember_me">
          <input class="checkbox" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
          <input name="user[remember_me]" type="hidden" value="0">
          <span>Remember me</span>
        </label>
        <div style="float: right;">
          Forgot your password?
        </div>
      </div>
      <div class="submit form-group">
        <input class="btn btn-primary" type="submit" value="Sign In" />
      </div>
    </form>
  </div>
</div>