<div id="doc-content">
  <Doodledoc @settings={{this.model.settings}} />
  {{!-- <iframe id="iframed-page" src={{website-validation w}}></iframe> --}}
  {{!-- <x-frame-bypass is="x-frame-bypass" src="https://news.ycombinator.com/"></x-frame-bypass> --}}
  <XFrame @scrolling="no" @id="iframed-page" @src={{website-validation website}} @srcdoc=""></XFrame>

</div>