<div>
  <Doodledoc />
  <iframe id="iframed-page"
    style="position: absolute;  height: 100vh; z-index: 90; width: 100%; pointer-events: auto; background-color: #FFFBEB; border: 0;"
    src={{website-validation w}}></iframe>
</div>