<main>
  <header>
    <img src="{{this.target.location.rootURL}}doodle docs big logo.png" />
    <span>Options: <a id="download" href="#using-download">Download</a> | <a id="share"
        href="#using-share">Share</a></span>
    <br />
    <span>Palette: <a id="pencil" href="#using-pencil">pencil</a><span
        style="margin: 0; margin-left: 10px; padding: 1px 7px 2px; top: 0;" id="pencil-picker"></span> |
      <a id="eraser" href="#using-eraser">Eraser</a></span>
    <nav>
      {{#link-to "site.home" class="button"}}Home{{/link-to}}
    </nav>
  </header>
  {{outlet}}
</main>