<div id="page-container">
  <main>
    <header>
      <img src="doodle docs big logo.png" />
      <span>Early Alpha</span>
      <nav>
        FAQ
      </nav>
    </header>
    <section class="grid-container grid-clearfix">
      <h1>FAQ</h1>
      <h2>Why does this exist?</h2>
      <p>I couldn't find a drawing web app that respects a pressure sensitive stylus. So I decided to create my own.</p>

      <h2>Why are there so many features missing?</h2>
      <p>I try to keep it simple.</p>

      <h2>I have an idea for a feature!</h2>
      <p>Great! Let me know, you can email me at mettamage at protonmail dot com.</p>

      <h2>Is this free?</h2>
      <p>I try to keep a simple version free, but server costs are a thing :( . I also open-sourced it, so you can always roll your own. I think people should always be able to doodle and to create some quick collaborative sketches.</p>

      <h2>I have another question!</h2>
      <p>Contact me somehow! I leave it up to you to figure it out ;-)</p>

    </section>
  </main>
  <footer>
    <p>Made with ❤️ by Melvin Roest </p>
    <p>Github | LinkedIn</p>
  </footer>
</div>