<div id="page-container">
  <main>
    <header>
      <img src="doodle docs big logo.png" />
      <span>Early Alpha</span>
      <nav>
        FAQ
      </nav>
    </header>
    <section class="grid-container grid-clearfix">
      <div class="col2">
        <h1>Draw together on the web</h1>
        <p>Doodle Docs allows you to sketch and collaborate with your pressure sensitive stylus-powered tablet or your laptop.</p>
        <button>
          <div>
            <img src="doodle docs logo.png" />
            <div>Open New Doodle Doc</div>
          </div>
        </button>
      </div>
      <div class="col2 example">
        <img src="prototype-example1.gif" />
      </div>
    </section>
    <section class="blue">
      <div class="grid-container grid-clearfix">
        <h1 class="center">Examples</h1>
        <div class="example col3">
          <img src="ex1.png" />
          <p>Made with laptop (no pressure sensitivty)</p>
        </div>
        <div class="example col3">
          <img src="ex2.png" />
          <p>Quick sketch with iPad</p>
        </div>
        <div class="example col3">
          <img src="ex3.png" />
          <p>A drawing with iPad</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>Made with ❤️ by Melvin Roest </p>
    <p>Github | LinkedIn</p>
  </footer>
</div>