<main>
  <header>
    <img src="{{this.target.location.rootURL}}doodle docs big logo.png" />
    <span>Early Alpha</span>
    <nav>
      {{#link-to "site.home" class="button"}}Home{{/link-to}}
      |
      {{#link-to "site.faq" class="button"}}FAQ{{/link-to}}
    </nav>
  </header>
  {{outlet}}
</main>
<footer>
  <p>Made with ❤️ by Melvin Roest </p>
  <p>Github | LinkedIn</p>
</footer>